<div id='hand-wrapper'>
  <div id='hand'>
    <% card_count = @current_player.cards.count %>
    <% @current_player.cards.each_with_index do |card, i| %>
      <div class="card">
        <div class="card-body">
          <%= card %>
        </div>

        <% if @round.playing_black_card? && @submission.blank? %>
          <div class="card-footer">
            <%= link_to 'Play',
              play_card_game_round_path(@game, card_id: card),
              method: :post,
              class: 'stretched-link'
            %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>