<% cards = @hand.map(&:card) %>

<div id='hand' class='hand-expanded'>
  <div class="row justify-content-center">
    <% cards.each do |card| %>
      <div class="col p-0">
        <%= content_tag :div,
          class: 'card',
          style: expanded_hand_style(card) do
        %>
          <div class="card-body">
            <%= card.text %>
          </div>

          <% if @round.playing_black_card? && @submission.blank? %>
            <%= link_to 'Play this card',
              play_card_game_round_path(@game, card_id: card),
              method: :post,
              class: 'card-footer'
            %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
