<% cache [@players, @round, @submissions] do %>
  <div id='players'>
    <ul class="list-group">
      <% @players.each do |player| %>
        <li class="list-group-item p-2">
          <% if player == @round.czar %>
            <%= image_tag 'crown.png' %>
          <% end %>

          <% if @submissions.any? { |s| s.player_id == player.id } %>
            &#10004;
          <% end %>

          <span class='player-name d-inline-block text-truncate'>
            <%= player %>
          </span>

          <% if @scores[player.id] > 0 %>
            <span class="badge badge-light badge-pill float-right">
              <%= @scores[player.id] %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
