<div class="list-group">


  <% if @current_player != @round.czar && !@round.ended? %>
    <%= link_to toggle_hand_style_player_path(@current_player),
      method: :post,
      class: 'list-group-item list-group-item-action' do
    %>
      <% if @current_player.expand_hand? %>
        Collapse your cards
      <% else %>
        Spread your cards
      <% end %>
    <% end %>
  <% end %>

</div>
