<h4>Aaaaand now we wait</h4>
While everyone submits their cards and the big czar is done

    <% @submissions.each_with_index do |submission, i| %>
    <%= content_tag :div,
      class: 'card' do
    %>
      <div class="card-body">
        <%= ++i %>

      </div>
            <% end %>
            <% end %>