<h4>Please select a black card.</h4>
<p>You can also draw a new card by clicking "Skip this card"</p>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to 'Play this card',
    advance_game_round_path(@game),
    class: 'btn btn-primary'
  %>


  <%= link_to 'Skip this card',
    skip_black_card_game_round_path(@game),
    class: 'btn btn-outline-primary ',
    method: :post
  %>
</div>
