<h2>
  <%= button_to 'Play this card',
    advance_game_round_path(@game),
    class: 'btn btn-primary btn-lg btn-block'
  %>
</h2>

<p>
  or

  <%= link_to 'skip this card',
    skip_black_card_game_round_path(@game),
    method: :post
  %>.
</p>
