<div id='hand' class='hand-collapsed'>
  <% @submissions.each_with_index do |submission, i| %>
    <%= content_tag :div,
      class: 'card' do
    %>
      <div class="card-body">
        <%= submission.card.text %>

        
      </div>

        <div class="card-footer">
          <%= link_to 'Award',
            advance_game_round_path(@game, submission_id: submission),
            method: :post,
            class: 'stretched-link'
          %>
        </div>
    <% end %>
  <% end %>
</div>
