$primary: #000;

@import "bootstrap";

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  max-width: 576px;
}

a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

.navbar-brand {
  font-size: 1em;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  transition: none;

  &:hover, &:focus {
    color: #000;
    background-color: #fff;
  }
}

.card {
  width: 10em;
  height: 15em;
  font-weight: bold;
  margin-bottom: 1em;

  &.black {
    color: #fff;
    background-color: #000;

    .blank {
      width: 3em;
      display: inline-block;
      border-bottom: 1px solid #fff;
      color: #000;
    }
  }

  &.winner {
    position: absolute;
    transform: rotate(5deg);
    top: -15em;
    right: 0em;
  }

  .stretched-link {
    &.stretched-link-left::after {
      right: 50%;
    }
    &.stretched-link-right::after {
      left: 50%;
    }
  }
}

footer {
  margin-top: 3em;

  a {
    color: $gray-800;

    &:hover {
      color: $black;
      background-color: transparent;
    }
  }

  .divider {
    border-top: 1px solid $gray-300;
    margin-bottom: 1em;
  }
}

#game {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#top-left {
  .card {
    transform: rotate(-3deg);
  }
}

#round {
  position: relative;
}

#hand {
  height: 18em;
  position: relative;

  .card {
    position: absolute;
    float: left;

    .card-body {
      position: relative;
    }

    .card-footer {
      position: relative;
    }
  }
}

#players {
  font-size: 0.75em;

  li {
    padding: 0.2em 0;

    .player-name {
      max-width: 80px;
    }
  }

  img {
    max-width: 1em;
    max-height: 1em;
    vertical-align: baseline;
  }
}
