$primary: #000;

@import "bootstrap";

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  max-width: 576px;
}

a:hover {
  color: #fff;
  background-color: #000; }

.navbar-brand {
  font-size: 1em;
  font-weight: bold;
}

.btn {
  font-weight: bold;
}

.card {
  width: 10em;
  height: 15em;
  font-weight: bold;
  margin-bottom: 1em;

  &.black {
    color: #fff;
    background-color: #000;
  }

  &.winner {
    position: absolute;
    transform: rotate(5deg);
    top: -15em;
    right: 0em;
  }
}

#game {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#top-left {
  .card {
    transform: rotate(-3deg);
  }
}

#round {
  position: relative;
}

#hand {
  height: 18em;
  position: relative;

  .card {
    position: absolute;
    float: left;

    .card-body {
      position: relative;
    }

    .card-footer {
      position: relative;
    }
  }
}

#players {
  font-size: 0.75em;

  img {
    max-width: 1em;
    max-height: 1em;
    vertical-align: baseline;
  }
}
