#game {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#top-left {
  .card {
    transform: rotate(-3deg);
  }
}

#round {
  position: relative;
}      

#hand {
  &.hand-collapsed {
    height: 18em;
    position: relative;

    .card {
      float: left;

      .card-body, .card-footer {
        position: relative;
      }

    }
  }

  &.hand-expanded {
    .card {
      margin-left: auto;
      margin-right: auto;
    }
          .card-footer{
        color:black;
      }
  }
}

#players {

  li {
    padding: 0.2em 0;

    .player-name {
      max-width: 80px;
    }
  }

  img {
    max-width: 1em;
    max-height: 1em;
    vertical-align: baseline;
  }
}
.btn-primary, .btn-primary:hover {
    color: #fff !important;
    font-weight:normal !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}