#game {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#top-left {
  .card {
    transform: rotate(-3deg);
  }
}

#round {
  position: relative;
}

#hand {
  &.hand-collapsed {
    height: 18em;
    position: relative;

    .card {
      position: absolute;
      float: left;

      .card-body, .card-footer {
        position: relative;
      }
    }
  }

  &.hand-expanded {
    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#players {
  font-size: 0.75em;
  max-height: 20em;
  overflow: scroll;

  li {
    padding: 0.2em 0;

    .player-name {
      max-width: 80px;
    }
  }

  img {
    max-width: 1em;
    max-height: 1em;
    vertical-align: baseline;
  }
}
