#game {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#top-left {
  .card {
    transform: rotate(-3deg);
  }
}

#round {
  position: relative;
}      

#hand {
  &.hand-collapsed {
    height: 18em;
    position: relative;

    .card {
      float: left;

      .card-body, .card-footer {
        position: relative;
      }

    }
  }

  &.hand-expanded {
    .card {
      margin-left: auto;
      margin-right: auto;
      transition: all 300ms ease;
    }
    .card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    overflow: auto;
    padding: 1.25rem;
}
          .card-footer{
        color:black;
      }
  }
}

#players {

  li {
    padding: 0.2em 0;

    .player-name {
    }
  }

  img {
    max-width: 1em;
    max-height: 1em;
    vertical-align: baseline;
  }
}
.btn-primary, .btn-primary:hover {

}

#hand.hand-expanded .card:hover {
    box-shadow: 0 0 9px -2px #00000026;
    transform: scale(1.04) rotate(1.4deg) !important;
}